.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 1024px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid black;
  padding: 0.3em;
}

.navigation-bar-buttons {
  display: flex;
  align-items: stretch;
  margin-left: auto;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 0.2em;
}

.navigation-bar-buttons > * {
  margin-left: 0.5em;
}

.homepage {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2em;
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.5em;
  justify-content: space-around;
}

.homepage-card {
  border: 1px solid black;
  padding: 0.2em;
}

.homepage-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.homepage-list {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}

.homepage-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 0.3em;
}

.homepage-list li.vertical-information-stack {
  flex-direction: column;
}

.homepage-list li p {
  padding: 0;
  margin: 0;
}

.homepage-list li.vertical-information-stack p {
  margin-bottom: 0.5em;
}

.homepage-list li .icon-container {
  display: flex;
  flex-direction: row;
}

.homepage-list li .icon-container svg {
  cursor: pointer;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2em;
  border: 1px solid black;
  padding: 0.3em;
  margin-top: 1em;
}

.form-group div {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
}

.form-group div label {
  display: block;
  margin-bottom: 0.2em;
}

.form-group div.form-group-two-columns {
  grid-column: span 2;
}

.form-group div.form-group-align-center {
  align-items: center;
}

.form-group div input,
.form-group div select,
.form-group div textarea {
  border: 2px solid black;
}

.form-group div input[type="submit"] {
  max-width: 50%;
  text-align: center;
}

@media only screen and (max-width: 380px){
  .homepage {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .navigation-bar {
    flex-direction: column;
    align-items: center;
  }
  .navigation-bar .navigation-bar-buttons {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .form-group {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .form-group div.form-group-two-columns {
    grid-column: span 1;
  }
}